<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0b.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,56},{30,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{30,26}}</string>
                <key>sourceSize</key>
                <string>{36,40}</string>
            </dict>
            <key>1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,35},{14,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{14,26}}</string>
                <key>sourceSize</key>
                <string>{36,40}</string>
            </dict>
            <key>1n.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,147},{32,56}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{32,56}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>2b.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,182},{28,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{28,26}}</string>
                <key>sourceSize</key>
                <string>{36,40}</string>
            </dict>
            <key>2n.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,68},{54,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{54,58}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>3b.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,154},{28,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{28,26}}</string>
                <key>sourceSize</key>
                <string>{36,40}</string>
            </dict>
            <key>3n.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,35},{54,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{54,56}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>4b.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,184},{30,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{30,26}}</string>
                <key>sourceSize</key>
                <string>{36,40}</string>
            </dict>
            <key>4n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{56,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{56,58}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>5b.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,150},{28,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{28,26}}</string>
                <key>sourceSize</key>
                <string>{36,40}</string>
            </dict>
            <key>5n.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,93},{52,56}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{52,56}}</string>
                <key>sourceSize</key>
                <string>{60,68}</string>
            </dict>
            <key>6b.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,181},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{28,26}}</string>
                <key>sourceSize</key>
                <string>{36,40}</string>
            </dict>
            <key>6n.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{52,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{52,58}}</string>
                <key>sourceSize</key>
                <string>{60,68}</string>
            </dict>
            <key>7b.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,181},{30,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{30,28}}</string>
                <key>sourceSize</key>
                <string>{36,40}</string>
            </dict>
            <key>7n.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,56},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{48,58}}</string>
                <key>sourceSize</key>
                <string>{60,68}</string>
            </dict>
            <key>8b.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,88},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{28,26}}</string>
                <key>sourceSize</key>
                <string>{36,40}</string>
            </dict>
            <key>8n.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,128},{58,54}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{58,54}}</string>
                <key>sourceSize</key>
                <string>{60,68}</string>
            </dict>
            <key>9b.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,184},{30,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{30,26}}</string>
                <key>sourceSize</key>
                <string>{36,40}</string>
            </dict>
            <key>bu.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,116},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{32,34}}</string>
                <key>sourceSize</key>
                <string>{42,40}</string>
            </dict>
            <key>di.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,118},{34,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{34,34}}</string>
                <key>sourceSize</key>
                <string>{42,40}</string>
            </dict>
            <key>hd_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,35},{94,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{94,31}}</string>
                <key>sourceSize</key>
                <string>{96,31}</string>
            </dict>
            <key>hd_ds.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{94,31}}</string>
                <key>sourceSize</key>
                <string>{96,31}</string>
            </dict>
            <key>hd_gs.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{92,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{92,31}}</string>
                <key>sourceSize</key>
                <string>{96,31}</string>
            </dict>
            <key>xg.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,147},{15,32}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{15,32}}</string>
                <key>sourceSize</key>
                <string>{17,40}</string>
            </dict>
            <key>zq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{79,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{79,34}}</string>
                <key>sourceSize</key>
                <string>{85,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nums.png</string>
            <key>size</key>
            <string>{253,212}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69485bd162518b95953865ef54290fd5:1/1$</string>
            <key>textureFileName</key>
            <string>nums.png</string>
        </dict>
    </dict>
</plist>
